/*#E2E4EF *//*#E2E4EF */
/*  #99CC99 border-bottom-color:#669966;*/

/*background:#8892BF;
  border-color:#4F5B93;*/
body {
    max-width: 1024px;
    background-color: #E2E4EF;
    margin:auto;
    text-align:center;
}

footer {
    /*    padding: 20px 0px;
        font-size: 12px;
        color: #777;
        position: fixed;
        bottom: 0px;
        
        max-width: 1024px;*/

    position: relative;
    margin-top: 80%; /* negative value of footer height */
    height: 180px;
    clear:both;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

li {
    display: list-item;
    padding-right: 20px;
    text-align: -webkit-match-parent;
}

.nav>li>a {
    display: block;
    font-size: 18px;
}

.navbar {
    margin-bottom: 30px;
    min-height: 60px;
    overflow: visible;
    color: #777;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.navbar-inner {
    min-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    background-color: #fafafa;
}


.navbar .nav>li {
    float:left;
}


.print_unique {
    width:676px;
    border:1px solid;
}

.lead {
    text-align: left;
    margin:20px;

}

.col-md-4 {
    float:right;
    border:1px solid;
}

.modal-content {
    background-color: #E2E4EF;
    margin-top: 14px;
}

/*.years {
    width: 300px;
    height: 500px;
   // float:right;
   

}*/

